body {
  align-items: center;
  background-color: white;
  text-align: center;
  font-family: system-ui, sans-serif;
  height: 1000px;
  width: 400px;
  padding: 10px;
  color: #4285F4;
  font-weight: 500;
  margin: 0 auto;
}

#wrapper {
	display: flex;}

#options-container {
  background-color: #F0F0F0;
  padding: 20px;
}

#generated-qr-code {
  padding: 20px;
  background-color: #ffffff;
}

.container {
  color: #DB4437;
}

select,
button {
  border: 1px solid;
  border-color: #E0E0E0;
  border-radius: 4px;
  height: 32px;
  width: auto;
  color: #4285F4;
  background-color: white;
  text-align: center;
  font-weight: 500;
  font-family: system-ui, sans-serif;
}

select:hover,
button:hover {
  border-color: #BBDEFB;
  background-color: rgba(33, 150, 243, .04);
}

button:active {
  border: 2px solid;
}

input[type="file"] {
  display: none;
}

label#customFileUpload {
  border: 1px solid;
  border-color: #E0E0E0;
  border-radius: 4px;
  height: 32px !important;
  width: auto;
  color: #4285F4;
  background-color: white;
  text-align: center;
  font-weight: 500;
  font-family: system-ui, sans-serif;
  padding: 10px;
}

label#customFileUpload:hover {
  border-color: #BBDEFB;
  background-color: rgba(33, 150, 243, .04);
}

label#customFileUpload:active {
  border: 2px solid;
}

#qr-code-container {
  display: flex;
  justify-self: center;
  width: 300px !important;
  height: 300px !important;
  margin-top: 0px;
  margin-left: 5px;
}

canvas {
  width: 300px !important;
  height: 300px !important;
}


.colorPickerContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #4285F4;
}

.typeContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #4285F4;
}

.colorPicker {
  display: flex;
  align-items: center;
}

label {
  text-align: right;
}

.removeButtonContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.loadLogoContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}
